# Base de données (Railway PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/portfolio_charles_sacca"

# NextAuth
NEXTAUTH_URL="https://charlessacca.dev"
NEXTAUTH_SECRET="GENERER_AVEC_openssl_rand_base64_32"

# Admin (utilisé lors du seed)
ADMIN_EMAIL="cscode@charlessacca.dev"
ADMIN_INITIAL_PASSWORD="Devnocode33"

# Email — Option A : Resend (recommandé)
EMAIL_PROVIDER="resend"
RESEND_API_KEY="re_xxxxxxxxxxxx"
SMTP_FROM="Charles Sacca <noreply@charlessacca.dev>"

# Email — Option B : SMTP Gmail
# EMAIL_PROVIDER="smtp"
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT="587"
# SMTP_USER="votre@gmail.com"
# SMTP_PASS="app_password_gmail"

# Redis Upstash (rate limiting prod)
# UPSTASH_REDIS_REST_URL="https://xxxx.upstash.io"
# UPSTASH_REDIS_REST_TOKEN="AXxxxx"

# Cloudinary (uploads images)
# CLOUDINARY_CLOUD_NAME="your_cloud_name"
# CLOUDINARY_API_KEY="your_api_key"
# CLOUDINARY_API_SECRET="your_api_secret"
